<!-- auth -->
div(id="auth-panel")
    p(class="auth-header") Authorization
    p(class="auth-description") SMILE ensures compliant data collection by connecting to the social media platforms
        | using official APIs and
        | requesting users to provide authorized account to log into their services. Users will only access data that
        | they have permission to, and the data will be collected following the protocol of each platform.
    //div(class="twitter-auth", id="twitter-auth")
        //a(class="btn btn-primary btn-block auth-button", href="login/twitter", target="_blank" disabled)
            //img(src='bootstrap/img/logo/twitter-sm-logo.png', width="30px", height="30px")
              //| Twitter integration temporarily disabled
    div(class="twitterV2-auth", id="twitterV2-auth")
        if TWITTER_ON
            a(class="btn btn-primary btn-block auth-button", href="login/twitterV2")
                img(src='bootstrap/img/logo/x-sm-logo.png', width="30px", height="30px")
                | Authorize with your Twitter/X account
                img(src="bootstrap/img/logo/checkbox.png", class="export-success", width="30px", style="display:none;")
        else
            a(class="btn btn-primary btn-block auth-button", href="login/twitterV2" disabled)
                img(src='bootstrap/img/logo/x-sm-logo.png', width="30px", height="30px")
                | Twitter/X Temporarily Not Accessible
    div(class="reddit-auth", id="reddit-auth")
        if REDDIT_ON
            a(class="btn btn-primary btn-block auth-button", href="login/reddit")
                img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px")
                | Authorize with your Reddit account
                img(src="bootstrap/img/logo/checkbox.png", class="export-success", width="30px", style="display:none;")
        else
            a(class="btn btn-primary btn-block auth-button", href="login/reddit" disabled)
                img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px")
                | Reddit Temporarily Not Accessible
    div(class="youtube-auth", id="youtube-auth")
        if GOOGLE_ON
            a(class="btn btn-primary btn-block auth-button", href="login/google")
                img(src='bootstrap/img/logo/youtube-sm-logo.png', width="30px",height="30px")
                | Authorize with your Youtube account
                img(src="bootstrap/img/logo/checkbox.png", class="export-success", width="30px", style="display:none;")
            div(style="display: flex; justify-content: end; align-items: center; margin-top: 10px; color:#ffffff;font-size: 16px;")
                span If you have a YouTube API key, please&nbsp;
                a(href="#", id="youtubeApiKeyLink", style="text-decoration: underline; color:#ffffff") click here
        else
            a(class="btn btn-primary btn-block auth-button", href="login/google" disabled)
                img(src='bootstrap/img/logo/youtube-sm-logo.png', width="30px",height="30px")
                | Youtube Temporarily Not Accessible
    button(id="auth-next", style="margin-top: 2em;", class="pull-right") next

// youtube api key modal
div(id="youtube-apikey-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-header")
                button(class="close", data-dismiss="modal") &times;
                h2(class="modal-title", id="modal-title", style="text-align:left;vertical-align:middle;") Provide your Google API Key
            div(class="modal-body form")
                div(class="modal-message")
                    div(class="form-group")
                        p To access YouTube data with Google's YouTube Data API (used by the SMILE app), generate an
                            |  API key from Google. Request one key per project to avoid access issues and keep it
                            |  confidential. Follow the instructions below for generating and storing your API key.
                        ol
                            li
                                b Generate an API Key
                                a(href="#generate-api-key" data-toggle="collapse" style="margin-left:1em;color:#e94a36;") Show/Hide Steps...
                                div(id="generate-api-key" class="collapse")
                                    ul
                                        li
                                            p Create a Google Cloud Project
                                            ul
                                                li Sign in to <a href="https://console.cloud.google.com/" target="_blank">Google Cloud Console</a>.
                                                li Click on the project dropdown in the top bar.
                                                li Select "New Project."
                                                li Name your project and click "Create."
                                        img(src='bootstrap/img/google_auth/new_project.png', width="600px")
                                        li
                                            p Enable the Required APIs
                                            ul
                                                li Ensure your new project is selected in the top bar.
                                                li Go to "APIs & Services" > "Library."
                                                li Search for "YouTube Data API" and click "Enable."
                                        img(src='bootstrap/img/google_auth/enable_api_service_0.png', width="300px")
                                        img(src='bootstrap/img/google_auth/enable_api_service_1.png', width="600px")
                                        li
                                            p Create API Keys
                                            ul
                                                li Go to "APIs & Services" > "Credentials."
                                                li Click "Create Credentials" right below the top bar.
                                                li Select "API Key."
                                                li
                                                    p Restrict API Key (Highly Recommended)
                                                    ul
                                                        li In the "API key created" dialog, click "Restrict Key."
                                                        li Under "Application restrictions," select the appropriate restriction type (e.g., HTTP referrers, IP addresses).
                                                        li Set application restriction for websites:
                                                            ul
                                                                li <i>https://smm.ncsa.illinois.edu</i>
                                                                li <i>https://*.smm.ncsa.illinois.edu</i>
                                                        li Under "API restrictions," select "YouTube Data API v3."
                                                        li Click "Save."
                                        img(src='bootstrap/img/google_auth/create_api_key.png', width="600px")
                            li
                                b Securely Store and Use the API Key
                                a(href="#securely-store-api-key" data-toggle="collapse" style="margin-left:1em;color:#e94a36;") Show/Hide Steps...
                                div(id="securely-store-api-key" class="collapse")
                                    ul
                                        li
                                            p Find the API Key
                                            ul
                                                li After creating your API key, find it under "APIs & Services" > "Credentials" > “API Keys” > SHOW KEY.
                                        li
                                            p Usage in SMILE App
                                            ul
                                                li When pasted into the SMILE app, the key will be stored in-memory for 30 minutes. After 30 minutes, you need to re-enter your API key.
                                        li
                                            p Usage in Other Contexts
                                            ul
                                                li For other purposes, such as scripting or Jupyter notebooks directly against Google API:
                                                    ul
                                                        li Keep the API key secure.
                                                        li Avoid hardcoding it into your code. Use environment variables or secret management tools.
                                                li For more information visit <a href="https://developers.google.com/docs/api/reference/rest" target="_blank">Google Developers Guide</a>.
                                        li
                                            p Regenerate Keys if Compromised
                                            ul
                                                li If you suspect your API key is compromised, regenerate it immediately by going to the "Credentials" page, selecting the key, and choosing "Regenerate Key."
                            li
                                b Monitor Usage and Quotas
                                a(href="#monitor-usage-quota" data-toggle="collapse" style="margin-left:1em;color:#e94a36;") Show/Hide Steps...
                                div(id="monitor-usage-quota" class="collapse")
                                    p Your API key has quotas, such as the number of API calls or results you can retrieve daily. You will receive an error message if you exceed your quota (e.g., "code": 403, "message": "User Rate Limit Exceeded"). In the SMILE app, error messages will appear if quotas are exceeded.
                                    ul
                                        li Monitor API Usage
                                            p Regularly check the "API Dashboard" for usage and unusual activity.
                                        li Adjust Quotas
                                            ul
                                                li View and edit quotas under IAM & admin > Quotas.
                                                li You can view current usage percentage, create quota alerts, and request quota increases or decreases.
                                                p For more information:
                                                    ul
                                                        li <a href="https://developers.google.com/youtube/v3/guides/quota_and_compliance_audits" target="_blank">Current Quotas</a>
                                                        li <a href="https://cloud.google.com/api-keys/docs/quotas" target="_blank">Quota Management</a>
                                    img(src='bootstrap/img/google_auth/quota_0.png', width="600px")
                                    img(src='bootstrap/img/google_auth/quota_1.png', width="600px")
                        div(class="form-group" style="padding-left: 23px;")
                            p Watch a similar video tutorial for Google Maps.
                            iframe(width="400"
                                height="225"
                                src="https://www.youtube.com/embed/2_HZObVbe-g?si=fdksXX-dyz0NE9xY"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen)

                    div(class="form-group")
                        label(class="control-label col-md-2 col-md-2 col-xs-12") API key
                        div(class="col-md-10 col-md-10 col-xs-12")
                            input(class="form-control" id="youtubeApiKey", placeholder="Your API Key")
            div(class="modal-footer")
                button(class="btn btn-yes", id="submitYoutubeApiKey") Submit

script.
    $("#youtube-apikey-modal").on('hidden.bs.modal', function () {
        $('#apiKey').tagsinput('removeAll');
    });

